.bubble-container.window {
  padding: 1px;
  background: #ece9d8;
  box-shadow:
    inset 0 0 0 1px #7aa2e4,
    inset 0 0 0 2px #0c57d8;
}

.window-content {
  overflow-y: auto;
  flex: 1 1 auto;
  min-height: 0;
}

table > tbody > tr > * {
  text-overflow: ellipsis;
  overflow: hidden;
}

fieldset button {
  margin: 0 5px;
}

fieldset button:first-of-type {
  margin-left: 0;
}

fieldset button:last-of-type {
  margin-right: 0;
}
